:root {
    --ecriture: rgb(241, 245, 230);
    --background: rgba(5,99,103,255);
    --ecritureHeader: rgba(5,99,103,255);
    --border-color: rgb(241, 245, 230);
}

body {
    background-color: var(--background);
    font-family: "Calibri", system-ui, Arial, Helvetica, sans-serif;
    margin: 0;
    color: var(--ecriture);
    font-size: 13px;
}

header {
    background-image: url("bureau.jpeg");
    height: 100%;
    background-size: cover;
    object-fit: cover;
    position: relative;
    margin-bottom: 10px;
}

/*button burger creation middle bar*/
.button_burger {
width: 35px;
height: 22px;
position: fixed;
right: 10px;
top: auto;
}

.button_burger span {
    width: 70%;
    height: 4px;
    background-color: black;
    display: block;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;
}

/*top / bottom burger bar icon*/
.button_burger span::before, .button_burger span::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: black;
    transition: transform 0.5s ease-in-out;
}

.button_burger span::before{
    transform: translateY(-10px);
}

.button_burger span::after{
    transform: translateY(10px);
}
/* button animation*/
.button_burger.active span {
    background-color: transparent;
}

.button_burger.active span::before {
    transform: translateY(0px) rotateZ(45deg);
}

.button_burger.active span::after {
    transform: translateY(0px) rotateZ(-45deg);
}

/*menu inside burger*/
.menu {
    display: none;
    background-color: rgba(0,0,0,0.8);
    height: auto;
    width: 100%;
    top: 40px;
    left: 0;
    position: fixed;
}

.menu.visible {
    display: block;
}

.menu ul {
    list-style-type: none;
    text-align: center;
}

.menu ul li {
    margin: 30px;
}

.menu ul li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid rgba(255,255,255,0.2);
}

.fa-lightbulb {
    display: block;
    color: var(--ecritureHeader);
    font-size: 35px;
    padding: 0 0 5px 10px;
    cursor: pointer;
}

h1 {
    font-size: xx-large; 
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    color: rgb(241, 245, 230);
}

h3 {
    text-decoration: underline;
}

h5 {
    font-size: 13px;
    font-weight: normal;
}

figure {
    background-image: url(./photo_cv3.jpg);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: auto;
    background-size: contain;
}

.npp {
    font-size: 20px;
    font-weight: bold;
    color: rgba(5,99,103,255);
    text-align: center;
}

p.poste {
    font-size: x-large;
    font-weight: bold;
    color: rgba(5,99,103,255);
}

p.structure {
    font-style: italic;
    font-weight: bold;
}

#page2 {
    margin: 10px;
    border: 1px solid;
    border-radius: 40px;
    padding: 20px;
}

#page2 p {
    line-height: 1.5em;
}

#page3 {
    margin: 10px;
    margin-top: 0;
    border: 1px solid;
    border-radius: 40px;
    padding: 20px;
}

#page3 p {
    line-height: 1.5em;
}

#page4 {
    margin: 10px;
    margin-top: 0;
    border: 1px solid;
    border-radius: 40px;
    padding: 20px;
}

#page4 p {
    line-height: 1.5em;
}

#page5 {
    margin: 10px;
    border: 1px solid;
    border-radius: 40px;
    padding: 20px;
}

ul {
    padding: 0;
}

ul li {
    margin-left: 20px;
}
@media only screen and (min-device-width: 600px) {

body {
    padding: 10px;
}

header {
        background-image: none;
}

figure {
    background-image: url(./photo_cv4.jpg);
    border-radius: 50%;
    position: absolute;
    top: 10px; 
    left: 50px
}

.button_burger {
    display: none;
}

.container1 {
    display: flex;
}

.container2 {
    display: flex;
    flex-direction: row-reverse;
}

.container3 {
    display: flex;
    flex-wrap: wrap;
}

.container4 {
    border: dashed var(--border-color);
}

#page2 {
    width: calc(30% - 20px);
    border: none;
    padding: 20px;
    margin: 0;
}

#page3 {
    width: calc(70% - 50px);
}

#page4 {
    width: calc(70% - 50px);
}

#page5 {
    width: calc(30% - 20px);
    border: none;
    padding: 20px;
    margin: 0;
    flex-wrap: wrap;
}

p.poste {
    display: block;
    color: var(--ecriture);
}

.npp {
    color: var var(--ecritureHeader);
}

.npp p {
color: var var(--ecritureHeader);
}

.fa-lightbulb {
    position: absolute;
    color: var(--ecriture);
    top: 20px;
    right: 20px;
}

.coordonnees {
    display: flex;
    flex-wrap: wrap;
}

ul {
    padding: 0;
}

li {
    margin-bottom: 10px;
}

h1 {
    display: none;
}
}


@media only screen and (min-device-width: 760px) {
body {
    width: 800px;
    margin: 0 auto;
}
html {
    background-color: white;
}
}