

body {
    background-color: rgba(5,99,103,255);
    font-family: "Calibri", system-ui, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 10px;
    color: white;
    font-size: 12px;
}

.menu {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: none;
    position: fixed;
    left: 10px;
    top: 20px;
    color: white;
    font-size: 28px;
}

ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid;
    border-radius: 10px 100px / 120px;
    padding: 10px 20px;
}

h1 {
    font-size: xx-large; 
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    color: white;
}

#page1 {
    text-align: center;
    color: black;
}

img.photo_moi {
    border-radius: 50%;
}

.npp {
    font-size: large;
    font-weight: bold;
    color: rgba(5,99,103,255)
}

p.poste {
    font-size: x-large;
    font-weight: bold;
    color: rgba(5,99,103,255);
}

header {
    background-image: url("bureau.jpeg");
    height: 100%;
    background-size: cover;
    object-fit: cover;
}

#page2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 60px;
    padding: 20px;
}
.competences {
    /*list-style: url("feuille.png");*/
    color: white;
}

#page3 {
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-radius: 60px;
    padding: 20px;
    margin-bottom: 10px;
}

#page4 {
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-radius: 60px;
    padding: 20px;
    margin-bottom: 10px;
}

#page5 {
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-radius: 60px;
    padding: 20px;
}