

body {
    background-color: rgba(5,99,103,255);
    font-family: "Calibri", system-ui, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 10px;
    color: white;
    font-size: 12px;
}

header {
    background-image: url("bureau.jpeg");
    height: 100%;
    background-size: cover;
    object-fit: cover;
    position: relative;
}

/*button burger creation middle bar*/
.button_burger {
width: 35px;
height: 22px;
cursor: pointer;
position: absolute;
right: 0px;
top: auto;
}

.button_burger span {
    width: 70%;
    height: 4px;
    background-color: rgba(5,99,103,255);
    display: block; 
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;
}

/*top / bottom burger bar icon*/
.button_burger span::before, .button_burger span::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: rgba(5,99,103,255);
    transition: transform 0.5s ease-in-out;
}

.button_burger span::before{
    transform: translateY(-10px);
}

.button_burger span::after{
    transform: translateY(10px);
}
/* button animation*/
.button_burger.active span {
    background-color: transparent;
}

.button_burger.active span::before {
    transform: translateY(0px) rotateZ(45deg);
}

.button_burger.active span::after {
    transform: translateY(0px) rotateZ(-45deg);
}

/*menu in burger*/
.menu {
    display: none;
}

.menu.visible {
    display: block;
    background-color: teal;
}

.menu ul li a {
    color: white;
    background-color: teal;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    position: absolute;
    display: block;
    right: 50px;
}

h1 {
    font-size: xx-large; 
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    color: white;
}

img.photo_moi {
    border-radius: 50%;
    display: block;
    margin: auto;
}

.npp {
    font-size: large;
    font-weight: bold;
    color: rgba(5,99,103,255);
    text-align: center;
}

p.poste {
    font-size: x-large;
    font-weight: bold;
    color: rgba(5,99,103,255);
}

#page2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 60px;
    padding: 20px;
}
.competences {
    /*list-style: url("feuille.png");*/
    color: white;
}

#page3 {
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-radius: 60px;
    padding: 20px;
    margin-bottom: 10px;
}

#page4 {
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-radius: 60px;
    padding: 20px;
    margin-bottom: 10px;
}

#page5 {
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-radius: 60px;
    padding: 20px;
}